{% extends 'rentals/base.html' %}
{% load tagger %}

{% block content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h4 class="nk-block-title page-title">{{order.ref_code}}</h4>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-xxl-4 col-md-6">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="card-title-group mb-2">
                                        <div class="card-title">
                                            <h6 class="title"> Items</h6>
                                        </div>
                                      
                                    </div>
                                    {% if order.items %}
                                    <ul class="nk-top-products">
                                        {% for item in order.items %}
                                        <li class="item">
                                            <div class="thumb">
                                                <img src="{{item.item.thumbnailImagePath}}" alt="">
                                            </div>
                                            <div class="info">
                                                <div class="title"> {{item.item.name}} </div>
                                                <div class="price">{{item.item.platform.name}}</div>
                                            </div>
                                            <div class="total">
                                                <div class="amount">₦{{item.item.dailyRentalRate}} x {{item.quantity}}</div>
                                                <div class="count">{{item.no_of_days}} Days</div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                       
                                      
                                    </ul>

                                    {% endif %}
                                </div><!-- .card-inner -->
                            </div><!-- .card -->
                        </div><!-- .col -->

                        <div class="col-xxl-3 col-md-6">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="card-title-group mb-2">
                                        <div class="card-title">
                                            <h6 class="title">Order Details</h6>
                                        </div>
                                    </div>
                                    <ul class="nk-store-statistics">
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">{{order.user.first_name}} {{order.user.last_name}} <br> {{order.user.user_email}} <br> {{order.user.phone}} </div>
                                                <div style="font-size: small !important;" class="count">Customer</div>
                                            </div>
                                            <em class="icon bg-purple-dim ni ni-user-alt"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">{{order.shipping_address.street_address}}, {{order.shipping_address.city}}, {{order.shipping_address.state}} </div>
                                                <div style="font-size: small !important;" class="count">Shipping Address</div>
                                            </div>
                                            <em class="icon bg-primary-dim ni ni-bag"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">₦{{order.shipping_fee}}</div>
                                                <div style="font-size: small !important;" class="count">Shipping Fee</div>
                                            </div>
                                            <em class="icon bg-info-dim ni ni-users"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">₦{{order.order_total}}</div>
                                                <div style="font-size: small !important;" class="count">Order Total</div>
                                            </div>
                                            <em class="icon bg-pink-dim ni ni-box"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">{{order.ordered_date}}</div>
                                                <div style="font-size: small !important;" class="count">Ordered Date</div>
                                            </div>
                                            <em class="icon bg-purple-dim ni ni-server"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Received: {{order.received}}</div>
                                                <div style="font-size: small !important;" class="count">Delivery Status</div>
                                            </div>
                                            <em class="icon bg-purple-dim ni ni-server"></em>
                                        </li>
                                    </ul>
                                </div><!-- .card-inner -->
                            </div><!-- .card -->
                        </div><!-- .col -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}